@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  .bg-img {
    background-image: url("Assets/embargo_23_01_bst_15_july_2020_911_turbo_rear_three_quarter-removebg.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
  }

  main {
    @apply flex flex-col gap-5 px-[8%] py-5;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  #radios label {
    position: relative;
  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 162px;
    height: 48px;
    z-index: 1;
  }
}

@layer components {
  .button-medium {
    @apply w-fit py-1 px-4 text-body-2 rounded-1 font-600 hover:ease-in duration-300;
  }
  .button-big {
    @apply w-fit py-2 px-5 text-body-1 rounded-1 font-600 hover:ease-in duration-300;
  }

  .img-cars-product {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
