@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  main {
    @apply flex flex-col gap-5 px-[8%] py-5;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="radio"] {
    /* display: none; */
    position: absolute;
    width: 100px;
    cursor: pointer;
    z-index: 1;
  }
}

@layer components {
  .button-medium {
    @apply w-fit py-1 px-4 text-body-2 rounded-1 font-600 hover:ease-in duration-300;
  }
  .button-big {
    @apply w-fit py-2 px-5 text-body-2 rounded-1 font-600 hover:ease-in duration-300;
  }
}
